
/.buildpath
/.project
/.settings
/output/*
!/output/.gitkeep
/var/cache/*
!/var/cache/.gitkeep
/var/compilation_cache/*
!/var/compilation_cache/.gitkeep
/gallery_output/output/*
!/gallery_output/output/.gitkeep
footer_col3.html
footer_link.html
/cron/cron.sh
