{% import "macros.html" as macros %}
<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="author" content="Wizard-G">
		<link href="{{ base_url }}css/bootstrap.min.css" rel="stylesheet">
		<!--
		<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
		-->
		<link href="{{ base_url }}css/style.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../../assets/js/html5shiv.js"></script>
          <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->

		{% block head %}
		{% endblock %}
	</head>
	<body class="{{ body_class }}">
        <div class="navbar navbar-default navbar-fixed-top">
				<div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ base_url }}{{ lang }}">PaintStrap</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li {{ macros.active("home", active_pages) }}>
                            <a href="{{ base_url }}{{ lang }}">Home</a>
                        </li>
                        <li {{ macros.active("gallery", active_pages) }}>
                            <a href="{{ base_url }}{{ lang }}gallery/">Gallery</a>
                        </li>
					</ul>
                    <ul class="nav navbar-nav">
                        <li class="github-icon">
                            <iframe src="http://ghbtns.com/github-btn.html?user=wizardg&repo=paintstrap&type=watch&count=false"
                            allowtransparency="true" frameborder="0" scrolling="0" width="52" height="20"></iframe>
                        </li>
                        <li>
<div class="ninja_onebutton">
<script type="text/javascript">
//<![CDATA[
(function(d){
if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_2e1da2a599ecba6fa5456222f09e5f75)=='undefined'){
    document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/2e1da2a599ecba6fa5456222f09e5f75'><\/sc"+"ript>");
}else{
    window.NINJA_CO_JP_ONETAG_BUTTON_2e1da2a599ecba6fa5456222f09e5f75.ONETAGButton_Load();}
})(document);
//]]>
</script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
</div>
</li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
						<li {{ macros.active("en", active_pages) }}>
							<a href="{{ base_url }}{{ this_url }}">English</a>
						</li>
						<li {{ macros.active("ja", active_pages) }}>
							<a href="{{ base_url }}ja/{{ this_url }}">日本語</a>
						</li>
					</ul>
                </div><!--/.nav-collapse -->
				</div>
			</div>
			{% block heading %}
			{% endblock %}
		<div class="container">
			{% block content %}
			{% endblock %}
			<hr>
			{% block footer %}
			<div id="footer" class="row">
				<div class="col-md-4">
					<p>
					Author: <a rel="author" href="http://wizard-g.net" target="_blank">Wizard-G</a><br>
					<a href="https://twitter.com/wiz_g" class="twitter-follow-button" data-show-count="false">Follow @wiz_g</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</p>
					<p>
					<a href="{{ base_url }}changelog/" target="_blank">ChangeLog</a><br>
					<a href="{{ base_url }}contact/" target="_blank">Contact</a><br>
					<a href="http://wizard-g.net/blog/" target="_blank">Blog</a><br>
					</p>
				</div>
				<div class="col-md-4">
				<p>
					This site uses <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>, <a href="http://kuler.adobe.com/api/" target="_blank">Adobe kuler API</a> and <a href="http://www.colourlovers.com/api" target="_blank">COLOURlovers API</a>.
				</p>
				<p>Twitter Bootstrap version: v{{ bootstrap_version }}</p>
				<p><img src="{{ base_url }}img/ku_36pxWtext.png" style="width: 131px; height: 36px;" alt="colored by Adobe kuler">
				</p>
				</div>
				<div class="col-md-4">
					{% include 'en/footer_col3.html' %}
				</div>
			</div>
			{% endblock %}
			<div id="footer-link">
			{% block footer_link %}
				{% include 'en/footer_link.html' %}
			{% endblock %}
			</div>
		</div>

		<div id="debug"></div>
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-29680388-4']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</body>
</html>
