{% import "macros.html" as macros %}
<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="author" content="Wizard-G">
		<meta name="robots" content="noindex,nofollow">
		<link href="{{ base_url }}css/bootstrap.min.css" rel="stylesheet">
		<!--
		<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
		-->
		<link href="{{ base_url }}css/style.css" rel="stylesheet">
		{% block head %}
		{% endblock %}
	</head>
	<body class="{{ body_class }}">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="{{ base_url }}{{ lang }}">PaintStrap</a>
					<ul class="nav">
					    <li {{ macros.active("home", active_pages) }}><a href="{{ base_url }}{{ lang }}">Home</a></li>
					    <li {{ macros.active("gallery", active_pages) }}><a href="{{ base_url }}{{ lang }}gallery/">Gallery</a></li>
					</ul>
					<ul class="nav pull-right">
						<li {{ macros.active("en", active_pages) }}>
							<a href="{{ base_url }}{{ this_url }}">English</a>
						</li>
						<li {{ macros.active("ja", active_pages) }}>
							<a href="{{ base_url }}ja/{{ this_url }}">日本語</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			{% block heading %}
			{% endblock %}
			{% block content %}
			{% endblock %}
			{% block footer %}
			{% endblock %}
			{% block footer_link %}
			{% endblock %}
		</div>

		<div id="debug"></div>
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-29680388-4']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</body>
</html>
