{% extends "en/base.html" %}

{% block title %}PaintStrap - Generate Bootstrap themes using the color scheme{% endblock %}

{% block head %}
<meta name="description" content="Coloring Twitter Bootstrap beautiful in Adobe kuler / COLOURlovers color scheme. You can generate CSS files by simply selecting the color theme and choosing colors corresponding to each element.">
<link rel="canonical" href="http://paintstrap.com/">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ base_url }}js/jquery.socialbutton-1.9.0.min.js"></script>
<script type="text/javascript" src="{{ base_url }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ base_url }}js/lr-pager.js"></script>
<script type="text/javascript" src="{{ base_url }}js/common.js"></script>
<script type="text/javascript" src="{{ base_url }}js/main.js"></script>
<script type="text/javascript">
	<!--
	var BASE_URL = {{ base_url | json_encode | raw }};
	var ERROR_MESSAGES = {
		required : "Please input this.",
		invalid_input : "Invalid input.",
		api_call_error : "API call error.",
		color_scheme_not_exists : "An input theme does not exist or cannot use.",
		generate_error : "CSS files generate error."
	};
	//-->
</script>
{% endblock %}

{% block heading %}
<!--
<div class="row">
<div class="span1"></div>
<div class="span10">
<div class="alert alert-info" style="margin-top: -20px;">
<i class="glyphicon glyphicon-arrow-up"></i>Gallery page added. Download Twitter Bootstrap themes that made by PaintStrap!
</div>
</div>
<div class="span1"></div>
</div>
-->
<div class="jumbotron">
    <div class="container">
        <h1>PaintStrap</h1>
        <p>
            Generate beautiful Twitter Bootstrap themes using the Adobe kuler / COLOURlovers color scheme
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<ul class="steps">
    <li id="steps-1">
        <div>
            Step 1: Input a color scheme
        </div>
    </li>
    <li id="steps-2">
        <div>
            Step 2: Set colors
        </div>
    </li>
    <li id="steps-3">
        <div>
            Step 3: Download CSS files
        </div>
    </li>
</ul>
<div id="input-kuler-container" class="page">
    <h2>Step 1: Input a color scheme</h2>
    <form id="input-kuler" class="form-inline">
        <div id="input-kuler-id-container" class="form-group">
            <p>
                <label>
                    <input type="radio" name="api_type" value="kuler" checked>
                    Use an Adobe kuler color scheme(Color Theme)</label>
            </p>
            <p class="input-api-particular">
                <!--
                <span class="announce">
                Now Adobe kuler API is in maintenance mode, so this can't work.
                </span><br>
                -->
                Please input a theme ID or a permalink URL:
                <br>
                <input id="input-kuler-id" class="input-id form-control" type="text" name="kuler_id" value="">
                <span id="input-kuler-id-error" class="help-inline control-label"></span>
                <br>
                E.g. <a class="input-kuler-example" href="javascript:void(0);"><span class="example-no hide">1</span><span class="kuler-id">1084168</span></a>,&nbsp; <a class="input-kuler-example" href="javascript:void(0);"><span class="example-no hide">2</span><span class="kuler-id">1006374</span></a>,&nbsp; <a class="input-kuler-example" href="javascript:void(0);"><span class="example-no hide">3</span><span class="kuler-id">2043016</span></a>
            </p>
        </div>
        <div id="input-colourlovers-id-container" class="form-group">
            <p>
                <label>
                    <input type="radio" name="api_type" value="colourlovers">
                    Use a COLOURlovers color scheme(Palette)</label>
            </p>
            <p class="input-api-particular">
                Please input a palette ID or a permalink URL:
                <br>
                <input id="input-colourlovers-id" class="input-id form-control" type="text" name="colourlovers_id" value="">
                <span id="input-colourlovers-id-error" class="help-inline control-label"></span>
                <br>
                E.g. <a class="input-colourlovers-example" href="javascript:void(0);"><span class="example-no hide">1</span><span class="colourlovers-id">694737</span></a>,&nbsp; <a class="input-colourlovers-example" href="javascript:void(0);"><span class="example-no hide">2</span><span class="colourlovers-id">678929</span></a>,&nbsp; <a class="input-colourlovers-example" href="javascript:void(0);"><span class="example-no hide">3</span><span class="colourlovers-id">77121</span></a>
            </p>
        </div>
        <div class="buttons">
            <span class="loading-image-spacer"></span>
            <button id="forward-to-select-color-button" type="submit" class="btn btn-primary">
                Next&nbsp;<span class="glyphicon glyphicon-arrow-right glyphicon-white"></span>
            </button>
            <span class="loading-image-container"><img class="loading-image" src="{{ base_url }}img/ajax-loader.gif" alt="loading" style="display: none;"></span>
        </div>
    </form>
    <div id="input-kuler-explain" class="well">
        <!--
        <h5>Explain</h5>
        -->
        <div>
            <ol>
                <li>
                    Access to <a href="http://kuler.adobe.com/" target="_blank">Adobe kuler</a> or <a href="http://www.colourlovers.com/" target="_blank">COLOURlovers</a> web site and select a theme you like. <!--
                    <br>
                    <button id="open-kuler" type="button" class="btn">Open Adobe kuler</button>&nbsp;
                    <button id="open-colourlovers" type="button" class="btn">Open COLOURlovers</button>
                    -->
                </li>
                <li>
                    Input it's theme ID or permalink URL(Please refer to a screen shot below).
                    <!--
                    <br>
                    * Please refer to a screen shot on the right.
                    -->
                    <p>
                        <img src="{{ base_url }}img/explain_kuler_id_2_200_133.png" style="width: 200px; height: 133px;" alt="Kuler ID explain">
                        <img src="{{ base_url }}img/explain_colourlovers_id_400_88.png" style="width: 400px; height: 88px;" alt="Kuler ID explain">
                    </p>
                </li>
            </ol>
        </div>
        <!--
        <div class="pull-right">
        <p><img src="img/explain_kuler_id_240.png" style="width: 240px; height: 160px;" alt="Kuler ID explain">
        </p>
        </div>
        <div style="clear: both;"></div>
        -->
    </div>
</div>
<div id="select-color-container" class="page" style="display: none;">
    <h2>Step 2: Set colors</h2>
    <div id="input-select-color-container">
        <p>
            Set colors corresponding to each elements.
        </p>
        <form id="selected-color-form">
            <input type="hidden" name="api_type" value="">
            <input type="hidden" name="id" value="">
            <table id="selected-color-table" class="table table-bordered">
                <tbody>
                    {{ macros.color_item(0, "Text") }}
                    {{ macros.color_item(5, "Navigation background") }}
                    {{ macros.color_item(1, "Link text, Primary buttons") }}
                    {{ macros.color_item(2, "Navigation text") }}
                    {{ macros.color_item(6, "Well class background") }}
                    {{ macros.color_item(3, "Hero unit background, hr tag") }}
                    {{ macros.color_item(4, "Page background") }}
                </tbody>
            </table>
            <div class="share-container">
                <p>
                    <label><span class="share-checkbox-container">
                            <input type="checkbox" name="share" value="1" checked>
                        </span>Submit to PaintStrap Gallery</label>
                </p>
                <p class="gallery-explain">
                    You can share the theme when you submit it to <a href="{{ base_url }}gallery" target="_blank">PaintStrap Gallery</a>.
                </p>
            </div>
        </form>
    </div>
    <div id="preview-container">
        <div>
            <div class="pull-left">
                <p>
                    Preview<span class="open-large-preview-container"><a id="open-large-preview" href="javascript:void(0);">Open the large preview</a></span>
                </p>
            </div>
            <div class="pull-right">
                <img id="loading-image-preview" class="loading-image" src="{{ base_url }}img/ajax-loader.gif" alt="loading" style="display: none;">
            </div>
        </div>
        <div id="preview-iframe-container"></div>
        <div id="selecting-kuler-theme-container">
            <p>
                <span id="theme-url"><a href="#" target="_blank"><span id="theme-name"></span></a></span>
                <br>
                ID: <span id="theme-id"></span> / Artist: <span id="theme-artist"></span>
                <br>
                Hex: <span id="theme-hex"></span>
            </p>
        </div>
    </div>
    <div class="buttons">
        <span class="loading-image-spacer"></span>
        <button id="back-to-input-kuler-button" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Prev
        </button>
        <button id="forward-to-download-button" type="button" class="btn btn-primary">
            Generate CSS!&nbsp;<span class="glyphicon glyphicon-arrow-right glyphicon-white"></span>
        </button>
        <span class="loading-image-container"><img class="loading-image" src="{{ base_url }}img/ajax-loader.gif" alt="loading" style="display: none;"></span>
    </div>
</div>
<div id="download-container" class="page" style="display: none;">
    <h2>Step 3: Download CSS files</h2>
    <p>
        Generating CSS files is completed!
        <br>
        Download and use it.
    </p>
    <h5>Download ZIP</h5>
    <p>
        <a id="download-zip" href="#" class="download-link-zip"></a>
    </p>
    <div id="download-list-left" class="pull-left">
        <h5>Download each file</h5>
        <p>
            <a id="download-bootstrap-css" href="#" target="_blank" class="download-link">bootstrap.css</a>
        </p>
        <p>
            <a id="download-bootstrap-min-css" href="#" target="_blank" class="download-link">bootstrap.min.css</a>
        </p>
        <p>
            <a id="download-variables-less" href="#" target="_blank" class="download-link">variables.less</a>
        </p>
    </div>
    <div id="download-list-right" class="pull-left">
        <h5>Theme for Kickstrap</h5>
        <p>
            <a id="download-zip-kickstrap" href="#" class="download-link"></a>
        </p>
        <p class="download-explain">
            How to use this:
            <br>
            1. Unzip the archive.
            <br>
            2. Copy the contents to Kickstrap "themes" directory.
            <br>
            3. In "theme.less", import this theme.
            <br>
            (Please refer to <a href="http://getkickstrap.com/docs/" target="_blank">Kickstrap Documentation</a>)
        </p>
    </div>
    <div class="buttons">
        <button id="back-to-select-color-button" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Prev
        </button>
    </div>
</div>
<div id="descriptions" class="row">
    <div class="col-md-4">
        <h3>Color sense is unnecessary</h3>
        <p>
            You can paint Twitter Bootstrap in great color schemes which is posted to Adobe kuler / COLOURlovers. It is not necessary for yourself to make colors.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Easy to install</h3>
        <p>
            It is very simple to install to your site. Download generated CSS files and replace it with a standard one. It is also usable as a theme of <a href="http://getkickstrap.com/" target="_blank">Kickstrap</a>.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Share your theme</h3>
        <p>
            Let's share your theme in <a href="{{ base_url }}gallery/">PaintStrap Gallery</a>. Other users become able to download the cool theme that you made.
        </p>
    </div>
</div>
<div id="example-screenshots">
    <img src="{{ base_url }}img/example_blue_sky_160.png" style="width: 160px; height: 169px;" alt="example1">
    <img src="{{ base_url }}img/example_iphone_blue_160.png" style="width: 160px; height: 169px;" alt="example2">
    <img src="{{ base_url }}img/example_mai_160.png" style="width: 160px; height: 169px;" alt="example3">
</div>
<div style="text-align: right;">
    <a href="/v2/">PaintStrap for Bootstrap v2 is here.</a>
</div>
{% endblock %}
