{% extends "common/base.html" %}

{% block title %}Contact | PaintStrap{% endblock %}

{% block head %}
    <link rel="canonical" href="http://paintstrap.com/contact/">
{% endblock %}


{% block content %}
	<h3>Contact</h3>
	<!-- Do not change code! -->
	<table cellspacing="0" cellpadding="0" border="0"><tr><td><iframe width="400" height="440" frameborder="0" src="http://www.foxyform.com/form.php?id=309159&sec_hash=202f6e1a2b6"></iframe></td></tr><tr><td align="center"><a style="font:8px Arial;color:#5C5C5C;" href="http://www.foxyform.com">foxyform.com</a></td></tr></table>
	<!-- Do not change code! -->
	
	<div style="margin-top: 40px;">
	<a href="#" onclick="window.close();">Close</a>
	</div>
{% endblock %}
