<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="robots" content="noindex,nofollow">
        <link rel="shortcut icon" href="assets/ico/favicon.png">

        <title>Preview - PaintStrap</title>
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="{{ base_url }}css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{{ base_url }}css/large_preview.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <![endif]-->
        
        <script>
            var base_url = {{ base_url|json_encode|raw }};
            var url_bootstrap_min_css = {{ url_bootstrap_min_css|json_encode|raw }};
            var default_design = "jumbotron";
        </script>
    </head>

    <body>
        <div id="nav" class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-collapse">
                    <form class="navbar-form navbar-left">
                        <label>Select design:</label>
                        <div class="form-group">
                            <select id="design-changer" class="form-control">
                                <option value="starter-template">Starter template</option>
                                <option value="grid">Grids</option>
                                <option value="jumbotron" selected>Jumbotron</option>
                                <option value="jumbotron-narrow">Narrow jumbotron</option>
                                <option value="navbar">Navbar</option>
                                <option value="navbar-static-top">Static top navbar</option>
                                <option value="navbar-fixed-top">Fixed navbar</option>
                                <option value="signin">Sign-in page</option>
                                <option value="sticky-footer">Sticky footer</option>
                                <option value="sticky-footer-navbar">Sticky footer with navbar</option>
                                <option value="justified-nav">Justified nav</option>
                                <option value="offcanvas">Offcanvas</option>
                                <option value="carousel">Carousel</option>
                                <option value="non-responsive">Non-responsive Bootstrap</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
        <iframe id="large-preview"></iframe>
        
        <script src="{{ base_url }}assets/js/jquery.js"></script>
        <script src="{{ base_url }}js/bootstrap.min.js"></script>
        <script src="{{ base_url }}js/large_preview.js"></script>
    </body>
</html>
