<hr>
<div id="footer" class="row">
	<div class="col-md-4">
		<p>
		制作: <a rel="author" href="http://wizard-g.net" target="_blank">Wizard-G</a><br>
		<a href="https://twitter.com/wiz_g" class="twitter-follow-button" data-show-count="false" data-lang="ja">@wiz_gさんをフォロー</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</p>
		<p>
		<a href="{{ base_url }}changelog/" target="_blank">更新履歴</a><br>
		<a href="{{ base_url }}contact/" target="_blank">お問い合わせ</a><br>
		<a href="http://wizard-g.net/blog/" target="_blank">ブログ</a><br>
		</p>
	</div>
	<div class="col-md-4">
	<p>
		本サイトは<a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a>、<a href="http://kuler.adobe.com/api/" target="_blank">Adobe kuler API</a>、<a href="http://www.colourlovers.com/api" target="_blank">COLOURlovers API</a>を使用しています。
	</p>
	<p>Twitter Bootstrapのバージョン: v{{ bootstrap_version }}</p>
	<p><img src="{{ base_url }}img/ku_36pxWtext.png" style="width: 131px; height: 36px;" alt="colored by Adobe kuler">
	</p>
	</div>
	<div class="col-md-4">
		{% include 'ja/footer_col3.html' %}
	</div>
</div>
