{% extends "ja/base.html" %}

{% block title %}PaintStrap - Twitter Bootstrapテーマをカラースキームから生成{% endblock %}

{% block head %}
<meta name="description" content="Twitter BootstrapをAdobe kulerやCOLOURloversのカラースキームで彩色できる、ジェネレータ系Webサービス。 配色を選び、各要素に対応する色を選ぶだけで、テーマを生成できます。">
<link rel="canonical" href="http://paintstrap.com/ja/">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ base_url }}js/jquery.socialbutton-1.9.0.min.js"></script>
<script type="text/javascript" src="{{ base_url }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ base_url }}js/lr-pager.js"></script>
<script type="text/javascript" src="{{ base_url }}js/common.js"></script>
<script type="text/javascript" src="{{ base_url }}js/main.js"></script>
<script type="text/javascript">
	<!--
	var BASE_URL = {{ base_url | json_encode | raw }};
	var ERROR_MESSAGES = {
		required : "入力してください。",
		invalid_input : "入力に誤りがあります。",
		api_call_error : "APIの呼び出しでエラーが発生しました。",
		color_scheme_not_exists : "入力されたカラースキームは存在しないか、または利用できません。",
		generate_error : "CSSファイルの生成でエラーが発生しました。"
	};
	
	var arg_api_type = {{ api_type|json_encode()|raw }};
	var arg_cs_id = {{ cs_id|json_encode()|raw }};
	//-->
</script>
{% endblock %}

{% block heading %}
<!--
<div class="row">
<div class="span1"></div>
<div class="span10">
<div class="alert alert-info" style="margin-top: -20px;">
<i class="glyphicon glyphicon-arrow-up"></i>Galleryページを追加しました。PaintStrapで作られたTwitter Bootstrapテーマをダウンロードできます！
</div>
</div>
<div class="span1"></div>
</div>
-->
<div class="jumbotron">
    <div class="container">
        <h1>PaintStrap</h1>
        <p>
            Adobe kuler / COLOURloversのカラースキームから、美しいTwitter Bootstrapテーマを生成
        </p>
        <table>
            <tr>
                <td>
<iframe src="http://ghbtns.com/github-btn.html?user=wizardg&repo=paintstrap&type=watch&count=false"
allowtransparency="true" frameborder="0" scrolling="0" width="52" height="20"></iframe>
                </td>
                <td>
<script type="text/javascript">
//<![CDATA[
(function(d){
if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_2e1da2a599ecba6fa5456222f09e5f75)=='undefined'){
    document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/2e1da2a599ecba6fa5456222f09e5f75'><\/sc"+"ript>");
}else{
    window.NINJA_CO_JP_ONETAG_BUTTON_2e1da2a599ecba6fa5456222f09e5f75.ONETAGButton_Load();}
})(document);
//]]>
</script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}

{% block content %}
<ul class="steps">
    <li id="steps-1">
        <div>
            ステップ1: カラースキーム指定
        </div>
    </li>
    <li id="steps-2">
        <div>
            ステップ2: カラー設定
        </div>
    </li>
    <li id="steps-3">
        <div>
            ステップ3: CSSダウンロード
        </div>
    </li>
</ul>
<div id="input-kuler-container" class="page">
    <h2>ステップ1: カラースキーム指定</h2>
    <form id="input-kuler" class="form-inline">
        <div id="input-kuler-id-container" class="form-group">
            <p>
                <label>
                    <input type="radio" name="api_type" value="kuler" checked>
                    Adobe kulerのカラースキーム(配色テーマ)を使う</label>
            </p>
            <p class="input-api-particular">
                <!--
                <span class="announce">
                現在、Adobe kuler APIがメンテナンス中につき、利用することができません。
                </span><br>
                -->
                テーマのID、またはパーマリンクURLを入力してください:
                <br>
                <input id="input-kuler-id" class="input-id form-control" type="text" name="kuler_id" value="">
                <span id="input-kuler-id-error" class="help-inline control-label"></span>
                <br>
                例: <a class="input-kuler-example" href="javascript:void(0);"><span class="example-no hide">1</span><span class="kuler-id">1084168</span></a>,&nbsp; <a class="input-kuler-example" href="javascript:void(0);"><span class="example-no hide">2</span><span class="kuler-id">1006374</span></a>,&nbsp; <a class="input-kuler-example" href="javascript:void(0);"><span class="example-no hide">3</span><span class="kuler-id">2043016</span></a>
            </p>
        </div>
        <div id="input-colourlovers-id-container" class="form-group">
            <p>
                <label>
                    <input type="radio" name="api_type" value="colourlovers">
                    COLOURloversのカラースキーム(パレット)を使う</label>
            </p>
            <p class="input-api-particular">
                パレットのID、またはパーマリンクURLを入力してください:
                <br>
                <input id="input-colourlovers-id" class="input-id form-control" type="text" name="colourlovers_id" value="">
                <span id="input-colourlovers-id-error" class="help-inline control-label"></span>
                <br>
                例: <a class="input-colourlovers-example" href="javascript:void(0);"><span class="example-no hide">1</span><span class="colourlovers-id">694737</span></a>,&nbsp; <a class="input-colourlovers-example" href="javascript:void(0);"><span class="example-no hide">2</span><span class="colourlovers-id">678929</span></a>,&nbsp; <a class="input-colourlovers-example" href="javascript:void(0);"><span class="example-no hide">3</span><span class="colourlovers-id">77121</span></a>
            </p>
        </div>
        <div class="buttons">
            <span class="loading-image-spacer"></span>
            <button id="forward-to-select-color-button" type="submit" class="btn btn-primary">
                ステップ2.へ&nbsp;<span class="glyphicon glyphicon-arrow-right glyphicon-white"></span>
            </button>
            <span class="loading-image-container"><img class="loading-image" src="{{ base_url }}img/ajax-loader.gif" alt="loading" style="display: none;"></span>
        </div>
    </form>
    <div id="input-kuler-explain" class="well">
        <!--
        <h5>説明</h5>
        -->
        <div>
            <ol>
                <li>
                    <a href="http://kuler.adobe.com/" target="_blank">Adobe kuler</a>または<a href="http://www.colourlovers.com/" target="_blank">COLOURlovers</a>にアクセスし、好きなカラースキームを選んでください。 <!--
                    <br>
                    <button id="open-kuler" type="button" class="btn">Adobe kulerにアクセス</button>&nbsp;
                    <button id="open-colourlovers" type="button" class="btn">COLOURloversにアクセス</button>
                    -->
                </li>
                <li>
                    選んだカラースキームのID、またはパーマリンクURLを入力してください(下のスクリーンショットの場所にあります)。
                    <!--
                    <br>
                    ※右のスクリーンショットに示したところに書かれています。
                    -->
                    <p>
                        <img src="{{ base_url }}img/explain_kuler_id.png" width"500" height="89" alt="Kuler ID explain">&nbsp;
                        <img src="{{ base_url }}img/explain_colourlovers_id.png" width="360" height="79" alt="COLOURlovers ID explain">
                    </p>
                </li>
            </ol>
        </div>
        <!--
        <div class="pull-right">
        <p><img src="img/explain_kuler_id_240.png" style="width: 240px; height: 160px;" alt="Kuler ID explain">
        </p>
        </div>
        <div style="clear: both;"></div>
        -->
    </div>
</div>
<div id="select-color-container" class="page" style="display: none;">
    <h2>ステップ2: カラー設定</h2>
    <div id="input-select-color-container">
        <p>
            各箇所に対応させるカラーを設定してください。
        </p>
        <form id="selected-color-form">
            <input type="hidden" name="api_type" value="">
            <input type="hidden" name="id" value="">
            <table id="selected-color-table" class="table table-bordered">
                <tbody>
                    {{ macros.color_item(0, "通常テキスト") }}
                    {{ macros.color_item(5, "ナビゲーション背景") }}
                    {{ macros.color_item(1, "リンクテキスト、プライマリボタン") }}
                    {{ macros.color_item(2, "ナビゲーションテキスト") }}
                    {{ macros.color_item(6, "wellクラス背景") }}
                    {{ macros.color_item(3, "Jumbotron背景、hrタグ") }}
                    {{ macros.color_item(4, "ページ背景") }}
                </tbody>
            </table>
            <div class="share-container">
                <p>
                    <label><span class="share-checkbox-container">
                            <input type="checkbox" name="share" value="1" checked>
                        </span>PaintStrap Galleryに投稿する</label>
                </p>
                <p class="gallery-explain">
                    <a href="{{ base_url }}ja/gallery" target="_blank">PaintStrap Gallery</a>に投稿すると、PaintStrapで作成したテーマを共有できます。
                </p>
            </div>
        </form>
    </div>
    <div id="preview-container">
        <div>
            <div class="pull-left">
                <p>
                    プレビュー<span class="open-large-preview-container"><a id="open-large-preview" href="javascript:void(0);">大きなプレビューを開く</a></span>
                </p>
            </div>
            <div class="pull-right">
                <img id="loading-image-preview" class="loading-image" src="{{ base_url }}img/ajax-loader.gif" alt="loading" style="display: none;">
            </div>
        </div>
        <div id="preview-iframe-container"></div>
        <div id="selecting-kuler-theme-container">
            <p>
                <span id="theme-url"><a href="#" target="_blank"><span id="theme-name"></span></a></span>
                <br>
                ID: <span id="theme-id"></span> / Artist: <span id="theme-artist"></span>
                <br>
                Hex: <span id="theme-hex"></span>
            </p>
        </div>
    </div>
    <div class="buttons">
        <span class="loading-image-spacer"></span>
        <button id="back-to-input-kuler-button" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;ステップ1.に戻る
        </button>
        <button id="forward-to-download-button" type="button" class="btn btn-primary">
            CSSを生成する！&nbsp;<span class="glyphicon glyphicon-arrow-right glyphicon-white"></span>
        </button>
        <span class="loading-image-container"><img class="loading-image" src="{{ base_url }}img/ajax-loader.gif" alt="loading" style="display: none;"></span>
    </div>
</div>
<div id="download-container" class="page" style="display: none;">
    <h2>ステップ3: CSSダウンロード</h2>
    <p>
        CSSの生成が完了しました！
        <br>
        ダウンロードしてご利用ください。
    </p>
    <h5>一括ダウンロード</h5>
    <p>
        <a id="download-zip" href="#" class="download-link-zip"></a>
    </p>
    <div id="download-list-left" class="pull-left">
        <h5>個別ダウンロード</h5>
        <p>
            <a id="download-bootstrap-css" href="#" target="_blank" class="download-link">bootstrap.css</a>
        </p>
        <p>
            <a id="download-bootstrap-min-css" href="#" target="_blank" class="download-link">bootstrap.min.css</a>
        </p>
        <p>
            <a id="download-variables-less" href="#" target="_blank" class="download-link">variables.less</a>
        </p>
    </div>
    <div id="download-list-right" class="pull-left">
        <h5>Kickstrap用テーマ</h5>
        <p>
            <a id="download-zip-kickstrap" href="#" class="download-link"></a>
        </p>
        <p class="download-explain">
            Kickstrap用テーマの使用方法:
            <br>
            1. アーカイブを展開してください。
            <br>
            2. 展開した内容をKickstrapのthemesディレクトリに設置してください。
            <br>
            3. theme.lessで、このテーマをimportするよう設定してください。
            <br>
            (詳しくは<a href="http://getkickstrap.com/docs/" target="_blank">Kickstrap Documentation</a>を参照)
        </p>
    </div>
    <div class="buttons">
        <button id="back-to-select-color-button" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;ステップ2.に戻る
        </button>
    </div>
</div>
<div id="descriptions" class="row">
    <div class="col-md-4">
        <h3>色彩センス不要</h3>
        <p>
            Adobe kulerやCOLOURloversに投稿されている、おしゃれでイケテル配色スキームをそのままTwitter Bootstrapに適用できます。デザインの知識は必要ありません。
        </p>
    </div>
    <div class="col-md-4">
        <h3>かんたん設置</h3>
        <p>
            サイトに組み込む方法はとても単純です。生成されたCSSをダウンロードして、標準のものと差し替えるだけです。<a href="http://getkickstrap.com/" target="_blank">Kickstrap</a>のテーマとしても使用可能。
        </p>
    </div>
    <div class="col-md-4">
        <h3>テーマの共有も可能</h3>
        <p>
            作ったテーマを、<a href="{{ base_url }}ja/gallery/">PaintStrap Gallery</a>で共有しましょう。あなたの作ったカッコいいテーマを、他のユーザーがダウンロードできるようになります。
        </p>
    </div>
</div>
<div id="example-screenshots">
    <img src="{{ base_url }}img/example_blue_sky_160.png" style="width: 160px; height: 169px;" alt="example1">
    <img src="{{ base_url }}img/example_iphone_blue_160.png" style="width: 160px; height: 169px;" alt="example2">
    <img src="{{ base_url }}img/example_mai_160.png" style="width: 160px; height: 169px;" alt="example3">
</div>
<div style="text-align: right;">
    <a href="/v2/ja/">Bootstrap v2対応版のPaintStrapはこちら</a>
</div>
{% endblock %}

{% block footer %}
	{% include 'ja/footer.html' %}
{% endblock %}

{% block footer_link %}
	{% include 'ja/footer_link.html' %}
{% endblock %}
